{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block userStatus %}
{% if user %}
	{{user.name}} | <a href="{{url_for('logout')}}">log out</a>
{% else %}
	<a href="{{url_for('login')}}">log in | <a href="{{url_for('register')}}">register</a></a>
{% endif %}
{% endblock %}

{% block content %}
		<h2>Create Bill</h2>
		{% for error in errors %}
			<p>Error: {{error}}</p>
		{% endfor %}
		<form action="createbill" method="post">
			<label for="amount">Amount: </label>
			<input type="text" name="amount" id="amount"><br />
			
			<label for="participants">Participants: </label>
			<select name="participants" id="participants" multiple>
				{% for user in users %}
				<option value="{{user.name}}">{{user.name}}</option>
				{% endfor %}
			</select><br />
			
			<input type="submit" value="Create Bill" />
		</form>
{% endblock %}