{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block userStatus %}
{% if user %}
	{{user.name}} | <a href="{{url_for('logout')}}">log out</a>
{% else %}
	<a href="{{url_for('login')}}">log in | <a href="{{url_for('register')}}">register</a></a>
{% endif %}
{% endblock %}

{% block content %}
    <h1>Index</h1>
    <h3>Bills</h3>
    {% for bill in user.bills %}
    <p>{{bill}}</p>
    {% endfor %}
	<p><a href="{{url_for('create_bill')}}">Create a bill</a></p>
	
    <h3>Debts</h3>
    {% for debt in user.debtsTo %}
    <p>{{debt}}</p>
    {% endfor %}
    {% for debt in user.debtsFrom %}
    <p>{{debt}}</p>
    {% endfor %}

{% endblock %}